@keyframes text-apparition {
    0% {
        content: "développeur freelance";
    }

    25% {
        content: "expert wordpress";
    }

    50% {
        content: "site web sur mesure";
    }

    75% {
        content: "réalisateur de projet web";
    }
}