@keyframes text-apparition {
    0% {
        content: "Développeur freelance";
    }

    25% {
        content: "Intégrateur wordpress";
    }

    50% {
        content: "Site web sur mesure";
    }

    75% {
        content: "Réalisateur de projets web";
    }
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}