.footer {
    padding-top: 2rem;
    background: #101010;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__bg {
    padding: 1rem 0 1.5rem;

    a {
        display: flex;
        justify-content: center;
        color: white;

        &:hover {
            color: #02735e;
            transition: 1s;
        }
    }
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    justify-self: center;
    column-gap: 2rem;
}

.footer__link:hover {
    color: var(--skin-color);
}

.footer__socials {
    justify-self: flex-end;
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover {
    color: var(--skin-color);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: 4.5rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: var(--title-color);
}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 768px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .footer__socials {
        justify-self: start;
    }

    .footer__links {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer__bg {
        padding: 2rem 0 3rem;
    }

    .footer__copy {
        margin-top: var(--mb-3);
    }

}

@media screen and (max-width: 576px) {
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__links {
        justify-self: flex-start;
    }
}