.navbar {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #824801a7;
    box-shadow: 13px 10px 20px 5px black;

    a {
        color: white;
    }

    ul {
        display: flex;

        li {
            margin: 0 20px;
            font-size: 1.2em;

            &:hover {
                transform: scale(1.06);
                transition: 0.5s;
            }
        }

        .active a {
            color: #fa7e18;
            font-weight: 600;
        }
    }

    .logo {
        font-size: 2em;
        font-weight: bold;
    }

    .menu-hamburger {
        display: none;
        width: 35px;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 35px;
    }

    .mobile-menu {
        margin-left: 0;
    }



}