.competences__container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.competences__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline__item {
    position: relative;
    margin-bottom: var(--mb-2-5);
    padding-left: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        width: 1px;
        position: absolute;
        left: .48rem;
        top: 0;
        height: 100%;
        background-color: var(--skin-color);
    }
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .3s;
}

.timeline__item:hover .circle__dot {
    background-color: var(--body-color);
}

.timeline__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline__text {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}