.section {
    padding: 7rem 0 2rem;
}

.section__title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: var(--mb-3);
    // image de fond sur du texte
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, #012326 0%, #014034 30%, #02735e 66%, #0aa67a 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    color: transparent;

    &::before {
        content: attr(data-heading);
        display: block;
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: whitesmoke;
    }
}

@media screen and (max-width: 576px) {

    .section__title {
        font-size: 2rem;
    }


}