.section {
    padding: 7rem 0 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);

    &::before {
        content: attr(data-heading);
        display: block;
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--skin-color);
    }
}