.sidebar {
    position: fixed;
    width: 110px;
    height: 100vh;
    background: var(--box-color);
    transition: .5s;
    box-shadow: black 7px 4px 8px 3px;
}

.nav__social {
    display: flex;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%); // met les "li" dans le sens verticale
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: 4px auto 0 auto;
}

.nav__social-links {
    margin: 15px;

    a {
        color: white;
    }

    &:hover {
        transform: translateY(10px);
        transition: 2s;

    }

    i {
        font-size: 1.5rem;

        &:hover {
            color: #0aa67a;
            transition: 1s;
        }
    }

}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: 1s;

    &:hover {
        transform: rotateZ(90deg)
    }
}

.btn__share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social__share {
    font-size: 2.5rem;
}

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

/******** Active Link **********/
.nav__link.nav__link.active-link::after,
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background: #0aa67a;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 1024px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
        box-shadow: none;
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .nav__logo,
    .btn__share {
        display: none;
    }

    .nav__menu {
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        padding: 1rem 0;
        line-height: 1.5;

        &:hover {
            transform: none;
        }
    }

    .nav__link.nav__link.active-link::after,
    .nav__link:hover::after {
        bottom: 0;
    }

    .nav__close {
        display: block;
    }

    .nav__toggle {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    .nav__toggle {
        right: initial;
        left: 1.5rem;
    }

}