.presentation__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
}

.presentation__img {
    width: 280px;
    border-radius: 0.90rem;
    justify-self: center;
}

.presentation__heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.presentation__description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);

    a {
        color: #0aa67a;
    }
}

.presentation__info {
    grid-template-columns: repeat(3, 140px);
    column-gap: 1.5rem;
    margin-bottom: var(--mb-3);
}

.presentation__box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background: var(--box-color);
    box-shadow: black 8px 10px 8px 4px;
}

.presentation__icon {
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.presentation__title {
    font-size: var(--small-font-size);
}

.presentation__subtitle {
    font-size: var(--smaller-font-size);
}

.container__testimonial__contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
    opacity: 0;
    transform: translateX(-30px);
    animation: show 0.8s 1s ease-out forwards;

    a {
        color: white;
    }
}

.google__testimonials:hover {
    transition: 0.5s ease;
    transform: scale(1.1);  
}

.container__testimonial__contact .google__testimonials a:hover {
    color: #0ab394;
}

// Animation du titre de présentation
.presentation__heading {

    span {
        color: #0aa67a;
        font-size: 2rem;
        font-weight: 900;
    }

    span::before {
        content: "Développeur freelance";
        animation: text-apparition 5s infinite;
    }
}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/
@media screen and (max-width: 1216px) {
    .presentation__container {
        column-gap: 2.5rem;
    }

    .presentation__description {
        padding-right: 0;
    }

    .presentation__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .presentation__img {
        width: 350px;
    }

    .presentation__data {
        text-align: center;
    }

    .presentation__info {
        justify-content: center;
    }

    .presentation__box {
        padding: .75rem .5rem;
    }

    .presentation__description {
        padding: 0 4rem;
        text-align: center;
    }

    .container__testimonial__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        opacity: 0;
        transform: translateX(-30px);
        animation: show 0.8s 1s ease-out forwards;
    
        a {
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    .presentation__img {
        width: 250px;
    }
}

@media screen and (max-width: 576px) {
    .presentation__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .presentation__description {
        padding: 0;
    }
}

@media screen and (max-width: 460px) {
    .presentation__heading {
        span {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 317px) {
    .presentation__heading {
        span {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 418px) {
    .presentation__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
    }
}