.portfolio__popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio__popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner {
    background-color: var(--box-color);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio__popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.fa-xmark {
    font-size: 2rem;
    color: #02735e;
}

.portfolio__popup-img {
    border-radius: .5rem;
}

.portfolio__popup-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);

    span {
        font-weight: 900;
        font-size: 1.5rem;
        color: #02735e;
    }
}

.details__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.details__description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.details__info li {
    margin-bottom: var(--mb-0-75);
    font-size: var(--small-font-size);
}

.details__info li:last-child {
    margin-bottom: 0;
}

.details__info li span {
    font-weight: normal;
}

.details__info li a {
    text-transform: lowercase;
    color: #02735e;
}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 1024px) {
    .portfolio__item-details {
        margin-bottom: var(--mb-1-5);
    }

    .details__info li {
        margin-bottom: var(--mb-0-5);
    }

    .details__title {
        margin-bottom: var(--mb-0-75);
    }
}


@media screen and (max-width: 768px) {
    .portfolio__popup-inner {
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }

    .portfolio__popup-content {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .details__title {
        font-size: var(--normal-font-size);
    }

    .portfolio__popup-close {
        top: .5rem;
    }
}