.main {
    margin-left: 100px;
}

/******** Section Accueil  ********/
.accueil {
    height: 100vh;
    // background: url("/images/GrosDodu_happy_monkey_typing_on_computer_dark_green_jungle_back_b4a401fb-e263-4501-9f0a-80981e2da971.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 25% 30%;
    // background-attachment: fixed;
}

.accueil__title {
    font-size: 10rem;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, #012326 0%, #014034 30%, #02735e 66%, #0aa67a 100%);
    background-attachment: fixed;
    background-size: cover;
    color: transparent;
    font-weight: 900;
    opacity: 0;
    transform: translateY(-30px);
    animation: show 0.8s 0.2s ease-out forwards;
}

.accueil__subtitle {
    font-size: 2rem;
    opacity: 0;
    transform: translateY(-30px);
    animation: show 0.8s 0.4s ease-out forwards;
}

.accueil__container {
    height: 100%;
    align-items: center;
}

.accueil__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.accueil__description {
    max-width: 450px;
    margin-bottom: var(--mb-2);
    opacity: 0;
    transform: translateY(-30px);
    animation: show 0.8s 0.6s ease-out forwards;

    span {
        font-weight: 900;
        color: #0aa67a;
    }
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    padding: 35px;

    img {
        opacity: 0;
        transform: translateY(-30px);
        animation: show 0.8s 0.2s ease-out forwards;
    }
}

.my__info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.fa-circle-user {
    font-size: 1.2rem;
}

.info__item {
    display: flex;
    align-items: center;
}

.info__title,
.info__subtitle {
    font-size: var(--small-font-size);
}

.info__title {
    font-weight: var(--font-medium);
}

.info__icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}

/******** Boutons  ********/

.button {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    background-color: var(--button-color);
    color: var(--title-color);
    padding: 1rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    box-shadow: black 7px 8px 8px 0px;
    opacity: 0;
    transform: translateX(-30px);
    animation: show 0.8s 1s ease-out forwards;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #02735e;
        z-index: -1;
        transform-origin: center;
        transform: scale(0);
        border-radius: .25rem;
        transition: .8s;
    }

    &:hover {
        transform: scale(1.05);
        transition: 1.5s;
    }

    &:hover::after {
        transform: scale(1);
    }

    .button__icon {
        font-size: 1.5rem;
    }

}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 1543px) {
    .accueil__social {
        position: relative;
        justify-content: center;
    }
}

@media screen and (max-width: 1408px) {
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }

    .accueil__title {
        font-size: 9rem;
    }
}

@media screen and (max-width: 1093px) {
    .accueil__title {
        font-size: 6rem;
    }
}

@media screen and (max-width: 1034px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .main {
        margin-left: 0;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 669px) {
    .accueil__title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .accueil {
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .accueil__container {
        row-gap: 2rem;
    }

    .accueil__img {
        display: block;

        justify-self: center;

    }

    .my__info {
        display: none;
    }

    .accueil__social {
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .accueil__social-follow {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .accueil__social-links {
        flex-direction: column;
        row-gap: .25rem;
        margin-top: 2rem;
    }

    .accueil__social-link {
        font-size: var(--normal-font-size);
    }
}

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .accueil__title {
        font-size: var(--h1-font-size);
    }

    .accueil__subtitle {
        font-size: var(--normal-font-size);
    }
}