.steps__container {
    grid-template-columns: repeat(1, 550px);
    gap: 2rem;
    justify-content: center;
    cursor: pointer;
}

.steps__content {
    background-color: var(--box-color);
    padding: 2rem 2rem 2rem 2.5rem;
    border-radius: .25rem;
    box-shadow: black 8px 10px 8px 4px;
    cursor: pointer;

    .number {
        font-size: 2.5rem;
        font-weight: 900;
    }

    &:hover {
        transform: scale(1.02);
        transition: 0.3s ease;
    }
}

.steps__arrow {
    text-align: center;

    i {
        font-size: 3rem;
        color: #0ab394;
        animation: pulse 0.8s infinite;
    }
}


.steps__content .number.number-active {
    -webkit-background-clip: text; 
    background-clip: text;   
    color: #0ab394; /* Ajoutez la couleur du texte ici */
}

.steps__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.steps__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    padding-top: 1rem;
}

.steps__description {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;
}

.steps__content.active .number {
    font-size: 3rem;
    transition: 0.5s ease;
}

.steps__content.active .steps__title {
    font-size: 22px;
    transition: 0.5s ease;
}


.steps__content.active .steps__button-icon {
    transform: translateX(.30rem);
}

.steps__content.active .steps__description {
    opacity: 1;
    height: auto;
}

.steps__button-icon {
    transition: .3s ease;
}

.steps__content:hover .steps__button-icon {
    transform: translateX(.30rem);
}


/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 768px) {
    .steps__container {
        grid-template-columns: repeat(1, 450px);
        gap: 1.5rem;
    }

    .steps__content {
        padding: 3.5rem .5rem 1.25rem 1.5rem;

        .number {
            font-size: 2rem;
        }
    }

    .steps__title {
        font-size: 20px;
    }

    .steps__icon {
        font-size: 1.5rem;
    }
    
}


@media screen and (max-width: 536px) {
    .steps__container {
        grid-template-columns: repeat(1, 300px);
    }

    .steps__content {
        padding: 3.5rem .5rem 1.25rem 1.5rem;

        .number {
            font-size: 1.5rem;
        }
    }

    .steps__content.active .number {
        font-size: 2rem;
        transition: 0.5s ease;
    }
}

@media screen and (max-width: 399px) {
    .steps__container {
        grid-template-columns: repeat(1, 250px);
    }

}