.contact__container {

    justify-content: center;
}

.contact__content {
    text-align: center;
}

.contact__info {
    display: grid;
    row-gap: 1.5rem;
}

.contact__card {
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: black 8px 10px 8px 4px;
}

.contact__card-icon {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;

    a {
        text-decoration: none;
        color: var(--skin-color);
    }
}

.contact__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.30rem);
}

.input__container {
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input {
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: var(--title-color);
    font-weight: var(--normal-font-size);
    letter-spacing: .5px;
    outline: none;
    border-radius: .50rem;
    transition: .3s;
}

textarea.input {
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}

.input__container label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 15;
    transition: .5s;
}

.input__container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.input__container span {
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: var(--z-fixed);
}

.input__container span::before,
.input__container span::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    opacity: 0;
    transition: .3s;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    background-image: linear-gradient(62deg, #595959 0%, #494747 50%, #5d5b5b 100%);
}

.input__container span::before {
    left: 50%;
}

.input__container span::after {
    right: 50%;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}

/*************************************************************************/
/***************************** RESPONSIVE *******************************/
/***********************************************************************/

@media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: 360px;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .contact__container {
        grid-template-columns: 300px;
    }
}

@media screen and (max-width: 350px) {
    .contact__container {
        grid-template-columns: 1fr;
    }
}